<head>
	<meta charset="utf-8" />
	<!-- Styles -->
	<link rel="stylesheet" href="{{- 'assets/css/main.css' | relative_url -}}" />
	<link rel="stylesheet" href="{{- 'assets/css/font-awesome.min.css' | relative_url -}}" />
	<link rel="stylesheet" href="{{- 'assets/css/rouge.css' | relative_url -}}" />
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Robots -->
	<meta name="robots" content="{{- page.robots | default: 'index, follow' -}}" />
	{%- unless page.canonical == false -%}
		<link rel="canonical" href="{{- page.url | absolute_url -}}" />
	{%- endunless -%}
  
	<!-- Title, description, author -->
	{%- capture _page_title -%}
		{%- if page.title -%}
			{{- page.title | append: ' | ' -}}
		{%- endif -%}
		{{- site.title | default: "Untitled Website" -}}
		{%- if site.subtitle -%}
			{{- site.subtitle | prepend: ' - ' -}}
		{%- endif -%}
	{%- endcapture -%}

	{%- assign _page_title = _page_title -%}
	{%- assign _page_description = page.description | default: site.description | default: _page_title -%}

	<title>{{- _page_title -}}</title>
	<meta name="description" content="{{- _page_description -}}" />
	<meta name="author" content="{{- site.author -}}" />  

	<script async src="{{- 'assets/js/main.js' | relative_url -}}"></script>

</head>
