<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{- 'assets/css/main.css' | relative_url -}}">
	<link rel="stylesheet" href="{{- 'assets/css/fontello/css/pmagunia.min.css' | relative_url -}}">
	<link rel="stylesheet" href="{{- 'assets/css/rouge.min.css' | relative_url -}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="{{- page.robots | default: 'index, follow' -}}">
	<link rel="canonical" href="{{- page.url | absolute_url -}}">
	<title>{{ page.title }} | {{ site.title }} | {{ site.subtitle }}</title>
	<meta name="description" content="{{- page.excerpt | strip_html | truncatewords: 25 | default: site.description | default: _page_title -}}">
	<meta name="author" content="{{- site.author -}}">
	<script async src="{{- 'assets/js/main.min.js' | relative_url -}}"></script>
	{% if page.url contains '/dataset/' %}
		<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet">
	{% endif %}
</head>
