<ul class="icons">
	<li><a href="{{- site.drupal_url -}}" class="icon icon-drupal" title="Drupal"><span class="label">Drupal</span></a></li>
	<li><a href="{{- site.twitter_url -}}" class="icon icon-twitter" title="Twitter"><span class="label">Twitter</span></a></li>
	<li><a href="{{- site.linkedin_url -}}" class="icon icon-linkedin-squared" title="LinkedIn"><span class="label">LinkedIn</span></a></li>
	<li><a href="{{- site.github_url -}}" class="icon icon-github-circled" title="Github"><span class="label">GitHub</span></a></li>
	<li><a href="{{- site.upwork_url -}}" class="icon upwork" title="Upwork">$<span class="label">Upwork</span></a></li>
        <li><a href="{{- site.soundcloud_url -}}" class="icon icon-soundcloud" title="SoundCloud"><span class="label">SoundCloud</span></a></li>
	<li><a href="{{- site.stackoverflow_url -}}" class="icon icon-stackoverflow" title="StackOverflow"><span class="label">StackOverflow</span></a></li>
</ul>
