<!-- Social Icons -->
<ul class="icons">
	{%- if site.drupal_url -%}
	<li><a href="{{- site.drupal_url -}}" class="icon fa-drupal"><span class="label">Drupal</span></a></li>
	{%- endif -%}
	{%- if site.twitter_url -%}
	<li><a href="{{- site.twitter_url -}}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
	{%- endif -%}
	{%- if site.linkedin_url -%}
	<li><a href="{{- site.linkedin_url -}}" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
	{%- endif -%}
	{%- if site.github_url -%}
	<li><a href="{{- site.github_url -}}" class="icon fa-github"><span class="label">GitHub</span></a></li>
	{%- endif -%}
	{%- if site.flickr_url -%}
	<li><a href="{{- site.flickr_url -}}" class="icon fa-flickr"><span class="label">Flickr</span></a></li>
	{%- endif -%}
	{%- if site.soundcloud_url -%}
        <li><a href="{{- site.soundcloud_url -}}" class="icon fa-soundcloud"><span class="label">SoundCloud</span></a></li>
    {%- endif -%}
	{%- if site.stackoverflow_url -%}
    <li><a href="{{- site.stackoverflow_url -}}" class="icon fa-stack-overflow"><span class="label">StackOverflow</span></a></li>
    {%- endif -%}
</ul>
