#d3-plot {
  height: 550px;
}

.tooltip {
  padding-left:2em;
  color: #555;
  font-family: Georgia;
  font-size:15px;
  line-height:1.7em;
  background: white;
  padding:5px;
  width: 280px;
  border: 2px solid black;
  border-radius: 8px;
}

.label {
  font-family: courier;
  font-size:11px;
}

@media (prefers-color-scheme: dark) {
  .label { fill: white !important; }
}

strong {
  color:#222 !important;
}

